body {
  background-color: rgb(0, 255, 191);
  background-image: radial-gradient(
    circle at bottom right,
    rgb(0, 75, 126),
    #000000 50%
  );
}

.welcome {
  color: rgb(233, 233, 233);
  animation: mymove 0.1s ease-out forwards;
}
.alert-banner {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 550px;
  min-width: 200px;
  animation: mymove 0.5s ease-out forwards;
}
.login-wrapper {
  margin: auto;
  width: 50%;
  padding: 10px;
  max-width: 80vw;
  position: absolute;
  margin-top: 60px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(0, 57, 64, 1) 0%,
    rgba(0, 115, 148, 0.9738095067128414) 68%,
    rgba(0, 160, 168, 0.9345938204383316) 100%
  );
  transition: box-shadow 0.7s;
  height: 60vh;
  min-height: 300px;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  animation: mymove 0.8s ease-out forwards;
}
@keyframes mymove {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.login-wrapper:hover {
  box-shadow: 0 5px 5px 0 rgba(22, 32, 37, 0.815);
}
.login-form {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 300px;
  min-width: 30px;
}

.login-button {
  width: fit-content;

  transition: all 0.3s ease-in-out;
  color: rgb(27, 27, 27);
  background-color: rgba(96, 140, 177, 0.692);

  margin-top: 20px;
}
.login-button:hover {
  background-color: rgba(108, 171, 223, 0.507);
  color: rgb(0, 0, 0);
}
.nickname-field {
  min-width: 150px;
}

.messages {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 40vw;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(161, 217, 224, 0.658) 0%,
    rgba(84, 203, 236, 0.699) 68%,
    rgba(41, 178, 185, 0.767) 100%
  );
}
.me,
.other {
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}
.me {
  align-self: flex-end;
  background-color: aliceblue;
  color: #000000;
}
.others {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.message{
  display: flex;
  flex-direction: column;
}
.other {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: rgb(106, 185, 255);
  color: #000000;

}
.chat-input {
  display: flex;
  padding-top: 20px;
}

.page {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50vw;
  min-width: 400px;
  position: absolute;
  margin-top: 60px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(30, 130, 158, 0.747);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  margin-right: 5px;
}
.chat-wrapper {
  text-align: center;

  background: linear-gradient(
    90deg,
    rgba(0, 57, 64, 1) 0%,
    rgba(0, 115, 148, 0.9738095067128414) 68%,
    rgba(0, 160, 168, 0.9345938204383316) 100%
  );
  transition: box-shadow 0.7s;
  height: 70vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;

}
.chat-input {
  width: 30vw;
  min-width: 200px;
}
.user {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 8vw;
  white-space: nowrap;
}
