.App {
  display: flex;
  justify-content: center;
  margin-top: 20vw;
}

html {
  background: rgb(21, 48, 80);
  background: linear-gradient(
    90deg,
    rgba(27, 30, 52, 1) 0%,
    rgba(0, 127, 191, 1) 100%
  );
}
